<header>
    <div class="mobile-menu" data-state="closed">
        {{> nav-links}}
        {{> signup-form}}
        <div>
            {{> social-links}}
        </div>
    </div>
    <div class="header-top">
        <div>
            {{> social-links}}
        </div>
        {{> signup-form}}
    </div>
    <div class="header-bottom">
        <div class="banner">
            <a href="/">
               
                    {{!-- <img height="90" src="{{settings.logo.url}}" />  --}}
                    <img height="90" style="border-radius: 50%;" src="/logo2.jpg" />

            </a>
        </div>
        <nav>
            {{> nav-links}}
            <i data-state="closed" class="fa fa-bars" id="dropdown-toggle"></i>
        </nav>
    </div>
</header>