<a class="social-link" href="https://www.facebook.com/medellinmoxion/" target="_blank">
    <i class="fa fa-facebook"></i>
</a>
<a class="social-link" href="/" target="_blank">
    <i class="fa fa-twitter"></i>
</a>
<a class="social-link"
    href="https://www.youtube.com/channel/UCrK56E2-JYaHfVh1ISmW_Fw?fbclid=IwAR0BxN2iJawgETdsvm9dGuVGMBFPG5Rg831BAY06Vb7ugOfFMkSyGy9FNLM"
    target="_blank">
    <i class="fa fa-youtube"></i>
</a>
<a class="social-link"
    href="https://www.instagram.com/medellinmotion/?fbclid=IwAR0CcdvDx2vwCGsqbRL8kQG_gKhwyPKSFj3ZQpHsBxi21d8ZaIedTjM5tbI"
    target="_blank">
    <i class="fa fa-instagram"></i>
</a>
<a class="social-link"
    href="https://soundcloud.com/medellin-motion?fbclid=IwAR3lIRz0pzsq1XipNOzTALwpygaE0yXEVh-wPAiOsOgMOmRA3WpTpEqnD_k"
    target="_blank">
    <i class="fa fa-soundcloud"></i>
</a>