{{> header}}
<div class="body">
    <div class="bio-wrapper" style="background-image: url('{{settings.bio_header.url}}')">
        <div class="bio-body">
            <div class="bio">
             <h1>hehhehehe</h1>
            </div>
        </div>
    </div>
    {{> footer}}
</div>