{{> header}}
<div class="body">
    <div class="gallery-wrapper">
        <div class="gallery-body">
            <div class="gallery">
                <img src="/117228384_307786534002989_8742514117922643730_n.jpg" />
                <h4>jan 2020</h4>
            </div>
            <div class="gallery">
                <img src="/a.jpg" />
                <h4>jan 2020</h4>
            </div>
        </div>
    </div>
    {{> footer}}
</div>