{{> header}}
<div class="body">
    <div class="tour-body-wrapper">
        <div class="tour-body">
        
                <div class="tour-container">
                    <div>
                        <h1>To be added soon...</h1>
                    </div>
                    <div>
                        <a href="/">Get Tickets</a>
                    </div>
                </div>
            
        </div>
    </div>
    {{> footer}}
</div>