{{> header}}
<div class="body">
    <div class="tour-body-wrapper">
        <div class="tour-body">
            {{#each tourDates}}
                <div class="tour-container">
                    <div>
                        <h1>To be added soon...</h1>
                    </div>
                    <div>
                        <a href="{{this.metadata.ticket_link}}">Get Tickets</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    {{> footer}}
</div>