{{> header}}
<div class="body">
    <div class="videos-wrapper">

        <div class="video-body">
            <video style="height: 400px; width:600px;" id="videoPlayer" controls muted="muted">
                <source src="{{base_url}}/video" type="video/mp4">
            </video>
        </div>
        <div class="title" style="justify-content: center;padding-left:80px"><h1>Mandem - Madilím ( Official Music Video )</h1></div>
        
        <div class="video-body">
            <video style="height: 400px; width:600px;" id="videoPlayer" controls muted="muted">
                <source src="{{base_url}}/video1" type="video/mp4">
            </video>
        </div>
        <div class="title" style="justify-content: center;"><h1>Chino SnD - S E T U P (Official Music Video)</h1></div>
     
        <div class="video-body">
            <video style="height: 400px; width:600px;" id="videoPlayer" controls muted="muted">
                <source src="{{base_url}}/video2" type="video/mp4">
            </video>
        </div>
        <div class="title" style="justify-content: center;"><h1>Trap Ye Season I</h1></div>
        
    </div>
    {{> footer}}
</div>